.khoi{
    width: 350px;
    height: auto;
    padding: 20px;
    background-color: rgb(30,31,53);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid #ffa401;

}

.name{
    color: #ffa401;
    font-weight: 800;
    font-size: 30px;
    padding: 5px;
    border-radius: 5px;
    
}

.info{
    list-style: none;
    padding: 20px;   
    border: 3px solid #ffa401;
    border-radius: 10px;
    
}

.item-info{
    font-weight: 600;
    color: #ffa401;
}

.img{
    width: 120px;
    border: 3px solid #ffa401;
    border-radius: 10px;
}